*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Set global font size so 1rem will be 10px */
  /* We want all px measurements to be in rem */
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: Arial, sans-serif;
  background-color: #eee;
}