.About {
  &__image {
    text-align: center;
    padding: 1rem;

    img {
      max-width: 200px;
      border-radius: 50%;
      border: 4px solid #333;
    }
  }

  &__card {

  }

  &__body {
    border-bottom: 1px solid #eee;
  }

  &__text {

  }

  &__links {
    text-align: center;

    a {
      margin: auto 1rem;
    }
  }
}