.About {
  &__image {
    text-align: center;
    img {
      transform: scaleX(-1);
      max-width: 200px;
      border-radius: 50%;
      border: 4px solid #333;
    }
  }

  &__blurb {
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
  }

  &__links {
    text-align: center;
  }
}