@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.Navigation {
  background-color: $color-primary;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-secondary;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;
  }

  &__brand {
    padding: 5px;
    color: $color-white;
  }

  &__nav {
    background-image: linear-gradient($color-primary, $color-grey-dark-1);
    display: none;
    z-index: 1500;
  }

  &__heading {
    font-size: $font-heading-size;
    line-height: 4rem;
  }

  &__subheading {
    font-size: $font-subheading-size;
    line-height: 3rem;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: .5rem;
    right: .5rem;
    background-image: radial-gradient($color-primary-light, $color-primary);
    z-index: 1000;
  }

  &__list {
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  // LINK
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 300;
      font-family: inherit;
      padding: .5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-size: 230%;
      transition: all .4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    //transform: scale(100);
  }

  &__checkbox:checked ~ &__nav {
    display: block;
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}